<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{content.new} + ' | ' + #{content.system}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{../assets/common/css/style.css}">
    <link rel="stylesheet" th:href="@{../assets/employee/register/css/style.css}">
</head>
<body>
    <div class="wrap">
        <header class="header">
            <div class="inner">
                <h1 th:text="#{content.system}"></h1>
            </div>
        </header>

        <main class="content">
            <div class="inner">
                <h2 th:text="'従業員情報 ' + #{content.new}"></h2>
                <form method="post" th:action="@{/employee/register}" th:object="${employee}">
                    <table>
                        <tr>
                            <th>
                                <label for="id">社員番号</label>
                            </th>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="name">名前</label>
                            </th>
                            <td>
                                <input type="text" th:field="*{name}" th:errorclass="err">
                                <span th:errors="*{name}" class="err"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="password">パスワード</label>
                            </th>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="name">権限</label>
                            </th>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                    </table>
                    <div class="controller">
                        <input type="submit" value="登録">
                    </div>
                </form>
                <div class="menu">
                    <ul>
                        <li><a href="/employee/list">一覧に戻る</a></li>
                    </ul>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="inner">
                <p th:text="#{content.system}"></p>
            </div>
        </footer>
    </div>
</body>
</html>